<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan It</title>
    <link rel="icon" href="/static/photos/thumbtag.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/style.css" />
    <script>
      let trips ={{{trips}}}

    </script>
    {{! <script src="/static/script.js"></script> }}
    <script src="/static/alltrips.js"></script>

  </head>
  <body
    style="background-color:#818181;
  background-image:none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family:Inter;
"
  >

    {{! Overlay }}
    <div
      class="overlay overlay-slide-left overlay-media media-overlay"
      id="overlay"
    >
      <nav class="user-navbar">
        <a class="a-link" href="/">Home</a>

        <form action="/{{correctUser}}" method="GET"><li><button
              class="my-page-btn"
              id="my-trip-button"
              style="font-family: Inter; "
            >My Page</button></li></form>

        <a class="a-link" href="/do/logout">Log Out</a>
      </nav>

    </div>
    <div class="menu-bars" id="menu-bars">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>

    {{! End nav bar section }}

    <h1
      id="h1"
      style="font-family: Inter;
        color:#fff;
        font-size: 35px;
        background-color: rgba(255, 255, 255, 0);
        letter-spacing:2;
        font-weight:200;
        margin:45px;
        text-align:center"
    >
      ALL TRIPS</h1>
    <h2
      id="cur-trip-to-delete"
      style="font-family: Inter;
        color:#fff;
        font-size: 25px;
        background-color: rgba(255, 255, 255, 0);
        letter-spacing:2;
        font-weight:200;
        margin:25px;
        text-align:center"
    ></h2>
    <h2
      id="cur-trip-name"
      style="font-family: Inter;
        color:rgb(198, 17, 17);
        font-size: 30px;
        background-color: rgba(255, 255, 255, 0);
        letter-spacing:2;
        font-weight:400;
        margin:5px;
        text-align:center"
    ></h2>
    <h2
      class="test hidden"
      id="delete-ques-h2"
      style="font-family: Inter;
        color:#fff;
        font-size: 35px;
        background-color: rgba(255, 255, 255, 0);
        letter-spacing:2;
        font-weight:200;
        margin:45px;
        text-align:center"
    > Would You like to Delete this Trip Now? </h2>
    <div
      class="test hidden"
      id="yes-no-btns-container"
      style="display:flex; flex-direction:row; align-items:center; justify-content:center"
    >
      <div>
        <form action="GET">
          <button
            class="hidden"
            id="yes-btn"
            style="background:none"
          >Yes</button>
        </form>
      </div>
      <div>
        <button class="hidden" id="no-btn" style="background:none">No</button>
      </div>
    </div>
    <div
      class="delete-trips-container"
      id="delete-trips-container"
      style="
      height:500px;
      width:500px;
      display:flex;
      flex-direction:column;
      margin-left:50px
      "
    >

    </div>

  </body>
</html>