<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan It</title>

    <link rel="icon" href="/static/thumbtag.png" type="image/x-icon" />

    <script src="/static/register_cookie.js"> </script>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body
    style="background-color:#E5E5E5;
    background-image:none;
    display: flex;
    justify-content: center;
    font-family:Inter;
  "
  >
    <!--Registration Container -->
    <div class="reg-container" id="reg-container" style="">
      <div class="login-logo" style="">
        <a href="/">
          <img
            src="/static/planit_logo.png"
            style="
                  display: block;
                  margin-left: auto;
                  margin-right: auto; width:80%"
            alt=""
          />
        </a>
      </div>
      <div class="reg-info-container">
        <h2 class="register-h2" {{! text-align:center; }}>Create a new account</h2>
        <h2 class="hidden" id="error_message" style="text-align:center">Error
          Div
        </h2>
        <form
          style="display:flex; flex-direction:column; width:inherit"
          action="doregister"
          method="POST"
        >
          <input name="username" type="text" placeholder="username" />
          <!-- <label for="email">Email</label> -->
          <input name="email" type="text" placeholder=" email" />
          <!-- <label for="password">Password</label> -->
          <input name="password" type="password" placeholder="password" />
          {{! <input type="text" placeholder="confirm password" /> }}
          <button
            id="signup-button"
            style="min-width: 227px;
                      height: 50px;
                      border-radius:2.5px;
                      background:#8fe0c0;
                      mix-blend-mode: normal;
                      border:0;
                      font-family: Inter;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 16px;
                      line-height: 19px;
                      text-align: center;
                      color: #0f3d33;
                      margin-top: 40px;"
          >CREATE MY ACCOUNT</button>
        </form>
      </div>
    </div>
  </body>
</html>